[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/libuv"]
	path = lib/libuv
	url = https://github.com/libuv/libuv.git
[submodule "lib/wolfssl"]
	path = lib/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/parallel-hashmap"]
	path = lib/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
