[submodule "lib/benstools"]
	path = lib/benstools
	url = git@bitbucket.org:ttocsneb/benstools.git
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/libuv"]
	path = lib/libuv
	url = https://github.com/libuv/libuv.git
[submodule "lib/wolfssl"]
	path = lib/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
